body{
  background: #bbf7d07a;
}

.addtrans{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.inputstyle{
   width: 320px;
   height: 37px;
   background-color: #f0f9ff;
   font-size: 17px;
   margin: 0px 0px;
   border-radius: 5px;
   outline: none;
   text-indent: 8px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.inputstyle:focus{
    border-bottom: 3px solid rgb(71, 71, 232);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;;
    transition: all 0.3s ease;
    transform: scale(1.03);
}

#btn-add-trans {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#btn-add-trans:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
#btn-add-trans:hover {
  box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
#btn-add-trans:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


/* transaction scrolling part */

.transactions{
  height: 450px;
  overflow: auto;
}
.transactions::-webkit-scrollbar{
  display: none;
}


.inc-exp{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0px 20px;
  border-radius: 20px;
  margin-top: 40px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.income , .exp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}
.income h4, .exp h4 {
  font-size: 20px;
  margin: 10px;
}
.exp p{
  font-size: 20px;
  margin: 10px;
  color: red;

}
.income p{
  font-size: 20px;
  margin: 10px;
  color: rgb(28, 204, 28);


}
